* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0f0f0f;
    color: #fff;
    scroll-behavior: smooth;
}

section {
    padding: 80px 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
}

/* HERO */


.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0;
    font-size: 1.2rem;
    color: #aaa;
}

.buttons {
  display: flex;
  gap: 25px; /* distância entre os botões */
  margin-top: 25px;
}


.buttons a {
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #4facfe, #8e2de2);
  transition: transform 0.3s;
}


.buttons a:hover {
    transform: scale(1.05);
}

/* SOBRE */
.sobre {
  padding-top: 40px; /* aproxima do hero */
  text-align: center;
  line-height: 1.8;
}


/* SKILLS */
.skill {
    margin-bottom: 25px;
}

.skill span {
    font-weight: 500;
}

.bar {
    background: #222;
    height: 18px;
    border-radius: 20px;
    margin-top: 8px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #8e2de2, #4facfe);
    border-radius: 20px;
    transition: width 1.5s ease;
}

/* CARDS */
.card {
    background: #181818;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* CONTATO */
.contato {
    text-align: center;
}

.contato p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    color: #666;
}

.progress {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #8e2de2, #4facfe);
  border-radius: 20px;
  transition: width 1.5s ease;
  position: relative;
}

.percent {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}


